<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ShortUrl</title>

    <style>
        body {
            background-color: #222222;
            color: ghostwhite;
        }
    </style>
</head>
<body>

<form action="{% url 'short_url:add_url' %}" method="post">
    {% csrf_token %}
    {{ csrf_token }}
    <input type="text" name="long_url_text" placeholder="URL HERE" autofocus>
    <button type="submit">Hit Me</button>
</form>

{% if show_short_codes %}

{% for each_thing in show_short_codes %}

{{each_thing.short_url}} <br> {{each_thing.long_url}} <br>
<br>

{% endfor %}

{% endif %}
</body>
</html>