<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="app">
        <p v-if="show">You can see me!</p>
        <p v-else=>Now you see me!</p>
        <template v-if="show">
            <h1>Heading</h1>
            <p>Inside a template</p>
        </template>
        <p v-show="show">Do you also see me?</p>
        <button @click="show = !show">Switch</button>
    </div>
    <!--v-if either attaches or detaches elements to the dom not just hides it-->
    <script>
        new Vue({
            el: '#app',
            data: {
                show: true
            }
        });
    </script>
</body>
</html>