<!--fix input floats-->
<style>
    li {
        border-bottom: #0d0d0d solid;
        vertical-align: middle;
        padding-top: 15px;
    }

    #list_dis {
        float: right;
        width: 33%;
        height: 100%;
        border-left: #0d0d0d solid 3px;
    }

    #head {
        float: left;
        width: 33%;
        height: 100%;
        border-right: #0d0d0d solid 3px;
        align-content: center;
    }

    h1 {
        text-align: center;
    }

    h2 {
        text-align: center;
    }

    input {
        float: right;
    }

    .input_head {
        float: left;
    }
</style>

<h1> Todo's & to Procrastinate</h1>
<div id="head">
    <h2>Enter task</h2>
    <form action="{% url 'todo:add_todo' %}" method="post">
        {% csrf_token %}
        <input class="input_head" type="text" name="todo">
        <input class="input_head" type="submit" value="add"/>
    </form>
</div>

<div id="list_dis">
    <h2>Todo List</h2>
    {% if todo_list %}
    <ul>
        {% for todo in todo_list %}
        <li>{{ todo.todo_text }}
            <form action="{% url 'todo:remove_todo' %}" method="post">
                {% csrf_token %}
                <input type="submit" value="remove">
                <input type="hidden" name="todo_id" value="{{todo.id}}">
            </form>
        </li>
        {% endfor %}
    </ul>
</div>
{% else %}
<p>No todo's are available.</p>
{% endif %}

