<!DOCTYPE html>
<html lang="en">
<head>
    <title>v5</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8"/>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="../local_settings.js"></script>



</head>


<body>
<div id="main_div_1">
    <!--<input type="text" v-model=-->
    <!--<input type="text"/>-->
    <!--<pre> {{lyrics}} </pre>-->

    <div v-for="paragraph in lyrics">
        <div v-for="line in paragraph">

        <!--<div v-for="line in lyrics[0]">-->


            <!--<div v-for="word in lyrics.paragraphs.lines">-->
                {{line.join(" ")}}
            <!--</div>-->
        <!--</div>-->

        </div>
        <br/>
        <br/>
    </div>
</div>


<!--<div id="display_out"></div>-->

<script>
    // const delim = '\r\n'
    let artist = 'LL Cool J'
    let  song = 'Rock the Bells'
    const lyric_api_url = `https://orion.apiseeds.com/api/music/lyric/${artist}/${song}?apikey=${lyrics_key}`

    let app = new Vue({                     // the vue app
        el: '#main_div_1',                  // the app manips this ELEMENT in the DOM
        data: {                             // the app's data is stored here
            lyrics: [],                     // defining arrays
        },

        methods: {
            loadSongData() {
                this.$http.get(lyric_api_url).then(response => {
                    let data = response.body.result;
                    let text = data.track.text;

                    // // split full text into paragraphs, count thru them, put each para into array
                    let paragraphs = text.split('\r\n\r\n');

                    for (let i=0; i<paragraphs.length; ++i) {
                        this.lyrics.push([])
                        let lines = paragraphs[i].split('\r\n')
                        for (let j=0; j<lines.length; ++j) {
                            let words = lines[j].split(' ')
                            this.lyrics[i].push(words)
                        }


                    }

                }, response => {
                    // error callback
                });



            },

            // parse_func() {
            //     for (let i=0; i < )
            // }
        },

        created: function () {
            this.loadSongData()
        }
    });

</script>


</body>
</html>

