<html>
    <head>
        <style>
            form, table {
                width: 50%;
                text-align: left;
            }
        </style>
    </head>
    <body>
        <h1>HELLO</h1>
        <form>
            {% csrf_token %}
            <table>
                <tr>
                    <th>Name</th>
                    <th>Fav Fruit</th>
                    <th>Fav Color</th>
                    <th></th>
                </tr>
                <tr>
                    <td><input type="text" placeholder="name" name="name"/></td>
                    <td><input type="text" placeholder="favorite fruit" name="fav_fruit"/></td>
                    <td><input type="text" placeholder="favorite color" name="fav_color"/></td>
                    <td><input type="submit" value="add"/></td>
                </tr>
                {% for contact in contacts %}
                <tr>
                    <td>{{contact.name}}</td>
                    <td>{{contact.fav_fruit}}</td>
                    <td>{{contact.fav_color}}</td>
                </tr>
                {% endfor %}
            </table>
        </form>
    </body>
</html>




