<!DOCTYPE html>
<html lang="en">
<head>
    <title>v5</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8"/>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="local_settings.js"></script>
    <style>
        .highlighted {
            color:red;
        }

        .bold {
            font-weight: bold;
        }

    </style>



</head>


<body>
<div id="main_div_1">
    <!--<input type="text" v-model=-->
    <!--<input type="text"/>-->
    <!--<pre> {{lyrics}} </pre>-->

    <div v-for="paragraph in lyrics">

        <div v-for="(line,line_number) in paragraph">

            <div>

                <span {{line.length}}></span>
                <span {{line_number+1}}></span>

                <span v-for="(word, index) in line" v-bind:class="getWordClass(index, line)">{{word}}&nbsp;</span>


            </div>


        </div>
        <br/>
        <br/>
    </div>
{{lyrics}}
</div>

<!--<div id="display_out"></div>-->

<script>
    // TODO Select data values to precede each line.
    // CONTENT IN TOTAL: pars, lines, words
    // CONTENT IN PARENT: pars in tot (dupe), lines in par, words in line

    // POSITION IN TOTAL: current par in total, current line in par, current line in total



    // TODO Specify new values to calculate from text
    // syllables, phoneme per syllable

    // words per line, line position in paragraph,
    // const delim = '\r\n'

    let artist = 'LL Cool J'
    let  song = 'Rock the Bells'
    const lyric_api_url = `https://orion.apiseeds.com/api/music/lyric/${artist}/${song}?apikey=${lyrics_key}`

    let app = new Vue({                     // the vue app
        el: '#main_div_1',                  // the app manips this ELEMENT in the DOM
        data: {                             // the app's data is stored here
            lyrics: [],                     // defining arrays
            // paras_ct: 0,
            // lines_ct: 0,
        },

        methods: {
            loadSongData() {
                this.$http.get(lyric_api_url).then(response => {
                    let data = response.body.result;
                    let text = data.track.text;

                    // // split full text into paragraphs, count thru them, put each para into array
                    let paragraphs = text.split('\r\n\r\n');
                    // let paras_ct = paragraphs.length()

                    for (let i = 0; i < paragraphs.length; ++i) {
                        this.lyrics.push([])
                        let lines = paragraphs[i].split('\r\n')

                        let lines_ct = lines[i].len
                        // console.log(lines_ct)

                        for (let j = 0; j < lines.length; ++j) {
                            let words = lines[j].split(' ')
                            this.lyrics[i].push(words)
                        }
                    }


                    this.lookAtLastWords()


                }, response => {
                    // error callback
                });


            },
            // console.log(lyrics);

            getWordClass(index, line) {
                let output = (index === line.length-1)? 'highlighted': ''
                if (index % 2 === 0) {
                    output += ' bold'

                }
                return output

             },

            lookAtLastWords() {
                //this.lyrics
                for (let i = 0; i < this.lyrics.length; i++) {
                    let paragraph = this.lyrics[i]
                    for (let j = 0; j < paragraph.length; j++) {
                        let line = paragraph[j]
                        let lastWord = line[line.length - 1]
                        let secondToLastWord = line[line.length - 2]
                    }
                }
            }

            // wordsPerLine() {
            //     //this.lyrics
            //     for (let i = 0; i < this.lyrics.length; i++) {
            //         let paragraph = this.lyrics[i]
            //         for (let j = 0; j < paragraph.length; j++) {
            //             let line = paragraph[j]
            //             let words = lines[j].split(' ')
            //             this.lyrics[i].push(words)
            //
            //         }
            //     }
            // }
        },

        created: function () {
            this.loadSongData()
        }
    });

</script>


</body>
</html>

