<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login / Register</title>
    <style>
        body {
            margin-left:30px;
        }
    </style>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>


    <h2>Register</h2>
    <form action="{% url 'todo:register' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{next}}"/>
        <input type="text" name="username" placeholder="username" required/>
        <input type="text" name="email" placeholder="email" required/>
        <input type="password" name="password" placeholder="password" required/>
        <input type="submit" value="register"/>
    </form>


    <h2>Login</h2>
    <form action="{% url 'todo:login' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{next}}"/>
        <input type="text" name="username" placeholder="username" required/>
        <input type="password" name="password" placeholder="password" required/>
        <input type="submit" value="login"/>
        <div class="g-recaptcha" data-sitekey="6Lc8dWEUAAAAABjUdXmBSCkJ3lf4BNyXQQyC9MMq"></div>
    </form>
</body>
</html>