
body {
    font-family: "Helvetica", "Arial", sans-serif;
}

table {
    border-collapse: collapse;
    font-size: 13px;
}

.table_title {
    font-weight: bold;
    text-align: center;
    font-size: 15px;
}

table, th, td {
    border: 2px solid black;
    padding: 2px;
    width: 50%;
}

.main_form {
    display: flex;
    flex-direction: column;
    height: 30%;
}

.input_and_bt {
    margin: 10px;
}

.input_field {
    width: 40%;
{#margin: 5px;#} align-items: left;
}

